<h1>Triangle sides</h1>


<%# <form>
  <label for="side1">Side 1:</label>
  <input type="number" id="side1">
  <label for="side2">Side 2:</label>
  <input type="number" id="side2">
  <label for="side3">Side 3:</label>
  <input type="number" id="side3">
  <button class="btn btn-dark">Submit</button>
</form> %>
<form action="/result" method="post">
  <div class="form-group">
    <label for="side1">Side 1:</label>
    <input id="side1" name="side1" class="form-control" type="number">
    <label for="side2">Side 2:</label>
    <input id="side2" name="side2" class="form-control" type="number">
    <label for="side3">Side 3:</label>
    <input id="side3" name="side3" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
